
<div class="top-scores">
  <h1>Current Top Scores</h1>
</div>
<div class="leaderboard">
<table class="table table-striped">
  <tbody>
    <tr>
      <th>User ID</th>
      <th>Score</th>
    </tr>
      <% @top_games.each do |top| %>
    <tr>
      <td><%= top.user_id %></td>
      <td><%= top.score %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
</div>
